.not-found {
    padding: 0 0 60px;
    position: relative;

    @include vp-768 {
        padding: 20px 0 80px;
    }

    @include vp-1024 {
        padding: 0 0 100px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include vp-768 {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            gap:40px;
            margin-bottom: 80px;
        }

        @include vp-1024 {
            gap: 60px;
            align-items: center;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0 0 60px;
        padding: 20px 0 0;

        @include vp-1024 {
            margin: 0 0 15px;
        }
    }

    &__title {
        margin: 0;
        font-size: 20px;
        line-height: 24px;

        @include vp-768 {
            font-size: 24px;
            line-height: 28px;
        }

        @include vp-1024 {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__description {
        font-size: 14px;
        line-height: 18px;

        @include vp-1024 {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__like-icon {
        position: fixed;
        bottom: 131px;
        right: 15px;

        &:hover .not-found__like-circle {
            transition: fill 0.35s;
            fill: $color-blue-zodiac;
        }

        @include vp-768 {
            right: 20px;
            bottom: 156px;
        }


        @include vp-1024 {
            bottom: 184px;
        }
    }
}