.search-result {
    margin: 0 0 60px;

    @include vp-768 {
        margin:  0 0 80px;
    }

    @include vp-1024 {
        margin:  0 0 100px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0 0 62px;

        @include vp-768 {
            margin: 0 0 40px;
        }

        @include vp-1024 {
            margin: 0 0 60px;
            padding: 0 69px;
            gap: 60px;
        }

        @include vp-1304 {
            padding: 0 209px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        outline: none;

        &:hover .search-result__title {
            color: $color-royal-blue-1;
            transition: color 0.35s;
        }

        &:focus-visible .search-result__title {
            color: $color-royal-blue-1;
            transition: color 0.35s;
        }
    }

    &__title {
        margin: 0;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;

        @include vp-1024 {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__description {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        word-wrap: break-word;

        @include vp-1024 {
            font-size: 16px;
            line-height: 22px;
        }
    }
}