.btn {
    padding: 12px 20px;
    background-color: #239DD6;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-radius: 60px;
    border: none;
    outline: none;
}

.btn:disabled {
    background-color: #F0F0F0;
    color: #858385;
    pointer-events: none;
}

.btn:hover {
    background-color: #9D1881;
}

.btn:focus {
    background-color: #771061;
}

.btn--m {
    padding: 18px 58px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    border-radius: 16px;
    background: linear-gradient(270deg, #537CCB 0%, #13AED7 100%);
}

.btn--m:hover {
    background: #537CCB;
}

.btn--m:focus {
    background: #537CCB;
}

.btn--m--blue-purple {
    background: linear-gradient(270deg, #9548BD 0%, #547CCB 100%);
}

.btn--m--blue-purple:hover {
    background: #9548BD;
}

.btn--m--blue-purple:focus {
    background: #9548BD;
}

.btn--m--purple {
    background: linear-gradient(270deg, #D812AE 0%, #9548BD 100%);
}

.btn--m--purple:hover {
    background: #D812AE;
}

.btn--m--purple:focus {
    background: #D812AE;
}


