.hero {
  overflow: hidden;
  margin: 0 0 40px 0;

  &__wrapper {
    padding: 28px 0 40px;
    min-height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-blue;
    margin: 0 0 60px 0;
  }

  &__title-bottom {
    padding: 0 0 0 91px;
  }

  &__intro {
    margin: 0 0 23px 0;
    position: relative;
    padding: 0 0 243px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }

  &__circle-text {
    display: flex;
    position: absolute;
    bottom: 0;
    right: -59px;

    animation: circleText 7s linear infinite 0s;
  }

  @keyframes circleText {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &__dot-mouse {
    animation: dotFadeDown 1s linear infinite;
  }

  @keyframes dotFadeDown {
    from {
      opacity: 1;
      transform: translateY(0px);
    }

    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  &__mouse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: auto auto 0;
  }
}
