.custom-input {
    position: relative;
    $root: &;

    &__box {
        display: flex;
        user-select: none;
        cursor: pointer;
        align-items: center;
        background-color: transparent;
        justify-content: center;
        padding: 8px 10px;

        @include vp-1023 {
            padding: 7px 9px;
        }
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 32px;
        border-radius: 4px;
        border: 1px solid $color-dim-gray;
        transition: background-color $transition-300, border-color $transition-300;
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~#{$root}__border,
        &:checked~#{$root}__label {
            border-color: $color-blue;
            color: $color-blue;
        }

        &:hover~#{$root}__border,
        &:focus-visible~#{$root}__border {
            background-color: $color-dim-gray;
            border-color: $color-dim-gray;
        }

        &:hover~#{$root}__label,
        &:focus-visible~#{$root}__label {
            color: $color-white-smoke;

        }
    }

    &__label {
        font-size: 13px;
        line-height: 16px;
        color: $color-dim-gray;
        transition: color $transition-300 ;
        z-index: 5;
    }
}